*{
    font-family: Roboto;
}
body{
    background:#000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main-content{
    width: 100%;
    height: 100%;
    background: #fff;;
}
nav h2{
    padding: 1.71% 0 0 0;
    width: 100%;
    margin: 0;
    height: 1.91%;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
}
.logo {
  width: 9.370%;
  height: 3.31%;
  object-fit: contain;
  vertical-align: middle;
}
.head {
  width: 100%;
  height: 2.81%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  margin : 3.018% 0 0 0;
}
.head-content {
  width: 100%;
  height: 2.414%;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 1.006% 0 0 0;
  color: #979797;
}
.container > div {
  display: inline-block;
}
.left {
  width: 43.12%;
  vertical-align: top;
}
.content{
  margin: 5% 0 0 18%;
}
.container{
  background: #fff;
  vertical-align: top;
}
.left-image {
  width: 100%;
  height: 100%;
  margin-top: -33%;
  object-fit: contain;
}
.right{
  width: 50%;
}
.head-2{
  width: 100%;
  margin:0 0 4% 0;
}
.inline-block{
  margin: 0 0 0 2%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.block-square {
  width: 3% ;
  vertical-align: middle;
  height: 1rem ;
  text-align: center;
  border-radius: 0.25rem;
  border: solid 0.0625rem #176cdb;
  background-color: #3585ee;
  display: inline-block;
  margin: 0;
}
.block-white {
  width: 3%;
  vertical-align: middle;
  height: 1rem;
  text-align: center;
  border-radius: 0.25rem;
  border: solid 0.0625rem #dadada;
  background-color: #ffffff;
  display: inline-block;
  margin: 0;
}
.Path {
  width: 100%;
  height: 1rem;
  object-fit: contain;
  background-color: transparent;
}
.footer{
  margin: 5% 0 0 18%;
  width: 70%;
}
.setting {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: var(--black);
}
.reason {
  height: 6rem;
  border-radius: 4px;
  border: solid 1px #dadada;
  background-color: #f8f9fa;
}
.reason-paragraph{
  margin: 4% 0 0 4%;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #979797;
}
.submit{
border-radius: 0.25rem;
border: solid 0.0625rem #5a61e9;
background-color: #7980fd;
margin: 1.2rem 0 0 0;
}
.SUBMIT {
width: 100%;  
font-family: Roboto;
font-size: 1.3rem;
font-weight: bold;
font-style: normal;   
font-stretch: normal;
line-height: normal;
letter-spacing: 1px;
text-align: center;
color: #ffffff;
}

@media screen and (max-width:1044px){
  nav h2{
    padding: 1.6% 0 0 0;
    height: 2%;
  }
  .head{
    margin: 1.7% 0 0 0;
  }
  .head-content{
    margin: 0.5% 0 0 0;
  }
  .part1{
    display: none;
  }
  .block-square{
    width: 5%;
  }
  .block-white{
    width: 5%;
  }
  .reason{
    height: 4rem;
  }
  .reason-paragraph{
    font-size: 1.1rem;
  }
  .content{
    margin: 9% 0 0 12%;
  }
  .footer{
    margin: 7% 0 0 12%;
  }
}
@media screen and (max-width:852px){
  .part2{
    display: none;
  }
  nav h2{
    padding: 1.4% 0 0 0;
    height: 2.1%;
  }
  .head{
    margin: 1.6% 0 0 0;
    height: 3%;
  }
  .setting{
    font-size: 1.13rem;
  }
  .reason-paragraph{
    font-size: 1rem;
  }
  .head-2{
    margin: 0 0 7% 0;
  }
  .SUBMIT{
    font-size: 1.2rem;
  }
  .footer{
    width: 90%;
  }
}
@media screen and (max-width:767px){
  .container div{
    display: block;
  }
  .right{
    width: 100%;
  }
  .content, .footer{
    margin: 9% 0 0 5%;
  }
  .footer{
    width: 90%;
  }
  .left-image{
    display: none;
  }
  body{
    background: #fff;
  }
  nav h2{
    padding: 1.5% 0 0 0;
    height: 42px;
    font-size: 1.4rem;
  }
  .logo{
    width: initial;
    height: 42px;
  }
  .head{
    margin: 2.5% 0 0 0;
    font-size: 1.7rem;
  }
  .head-content{
    font-size: 1.45rem;
    margin: 2.5% 0 0 0;
  }
  .right{
    float: left;
  }
  .setting{
    font-size: 1.4rem;
  }
  .block-square, .block-white{
    width: 3%;
  }
  .reason{
    height: 6rem;
  }
}
@media screen and (max-width:430px){
  .setting{
    font-size: 1.1rem;
  }
  .block-square, .block-white{
    width: 4%;
  }
  .SUBMIT{
    font-size: 1rem;
  }
  .footer{
    width: 90%;
  }
}
@media screen and (max-width:349px){
  nav h2{
    margin: 0 0 2.5% 0;
    height: unset;
  }
  .setting{
    font-size: 0.85rem;
  }
  .block-square, .block-white{
    width: 5%;
  }
  .reason{
    height: 4rem;
  }
  .reason-paragraph{
    font-size: 0.9rem;
  }
  .SUBMIT{
    font-size: 0.9rem;
  }
}